:root {
  --red: rgba(255, 49, 65, 1);
  --light-blue: rgba(195, 255, 229, 1);
  --pink: rgba(252, 187, 194, 1);
  --blue: rgba(13, 104, 147, 1);
  --yellow: rgba(255, 197, 41, 1);
  --grey: rgba(127, 155, 168, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(255, 255, 255);
  user-select: none;
  font-family: "Dennis Sans", sans-serif;
  font-size: 1rem;
  background: #141316;
  height: 100vh;

  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.contact-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  align-items: center;
}

.link-wrap1 {
  grid-area: 2 / 1 / 3 / 2;
}

@keyframes backextend {
  from {
    width: 0vw;
  }
  to {
    width: 100%;
  }
}

.link-wrap1 a::before {
  display: block;
  content: "";
  max-width: 1300px;
  height: 74px;
  background-color: var(--yellow);
  position: absolute;
  z-index: -1;
  animation-play-state: paused;
}

.link-wrap1:hover a::before {
  animation: backextend 2s ease forwards;
}

.link-wrap2 a::before {
  display: block;
  content: "";
  max-width: 1300px;
  height: 74px;
  background-color: var(--blue);
  position: absolute;
  z-index: -1;
}

.link-wrap2:hover a::before {
  animation: backextend 2s ease forwards;
}

.link-wrap3 a::before {
  display: block;
  content: "";
  max-width: 1300px;
  height: 74px;
  background-color: var(--grey);
  position: absolute;
  z-index: -1;
}

.link-wrap3:hover a::before {
  animation: backextend 2s ease forwards;
}

.link-wrap4 a::before {
  display: block;
  content: "";
  max-width: 1300px;
  height: 74px;
  background-color: var(--red);
  position: absolute;
  z-index: -1;
}

.link-wrap4:hover a::before {
  animation: backextend 2s ease forwards;
}

.link-wrap2 {
  grid-area: 3 / 1 / 4 / 2;
}
.link-wrap3 {
  grid-area: 4 / 1 / 5 / 2;
}
.link-wrap4 {
  grid-area: 5 / 1 / 6 / 2;
}

.link-wrap a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 4rem;
  cursor: pointer;
}

.link-wrap:nth-child(1) {
  background-color: var(--yellow);
}

.link-wrap:nth-child(2) {
  background-color: var(--blue);
}

.link-wrap:nth-child(3) {
  background-color: var(--grey);
}

.link-wrap:nth-child(4) {
  background-color: var(--red);
}

.contact {
  display: block;
  text-align: center;
  grid-area: 1 / 2 / 2 / 3;
  font-size: 3em;
}

form {
  grid-area: 2 / 2 / 6 / 4;
  display: grid;
  grid-template-columns: repeat(2, 0.9fr);
  grid-template-rows: repeat(4, 150px);
  grid-column-gap: 10px;
  grid-row-gap: 21px;
  margin-left: 20px;
}

.name {
  grid-area: 1 / 1 / 2 / 2;
}

.name > input {
  display: block;
  height: 77px;
  margin-top: 45px;
  color: beige;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.address {
  grid-area: 1 / 2 / 2 / 3;
}

.address > input {
  height: 77px;
  margin-top: 45px;
  color: beige;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.message {
  grid-area: 2 / 1 /4 / 3;
}

.message > textarea {
  resize: none;
  color: beige;
  height: 240px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.submitbtn {
  grid-area: 4 / 1 / 5 / 4;
}

.submitbtn > button {
  margin-top: 30px;
  height: 77px;

  color: beige;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.mail-write {
  font-family: "Chakra Petch", sans-serif;
  display: block;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  padding: 20px;
}

.mail-write::placeholder {
  font-size: 2rem;
  text-align: center;
}

/* magnetic button*/
.home {
  position: absolute;

  width: 50px;
  height: 50px;
}

.home-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #f2f2f2;
}

.btn {
  position: relative;
  text-align: center;
}

.btn span {
  position: relative;
  display: inline-block;
  width: 240px;
  padding: 18px 0;
  margin: 35px;
  border-radius: 8px;
  transition: transform 0.15s linear;
}

.color-01 span {
  background: transparent;
}
